{% extends 'base.html' %}
{% block title %} > {{ _('Dates') }} > {{ entity_data.name }}{% endblock %}
{% block content %}
    <legend><h3>{{ entity_data.name }}</h3></legend>
    <table class="table table-striped table-condensed">
        {% if person_times %}
            {% for item in person_times %}
            <tr>
                <td class="span4"><a href="{{ url_for('person', id=item['person'].id) }}" title="{{ item['person'].name }}">{{ item['person'].name }}</a></td>
                <td>
                    {% if item['works'] %}
                    {% for person_work in item['works'] %}
                    <a href="{{ url_for('work', id=person_work.work.id) }}" class="label label-inverse" title="{{ person_work.work.name }}">{{ person_work.work.number }}</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}