<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ _('Catalogue of the Golden Kanjur') }}{% block title %}{% endblock %}</title>
    {% include '_header.html' %}
  <style type="text/css">
      body {
        background-color: #F5F5F5;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .form-signin {
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        margin: 0 auto 20px;
        max-width: 300px;
        padding: 19px 29px 29px;
    }
  </style>
  </head>
  <body>
    <div class="container">

    {% block content %}
        <div class="marketing">
        <form class="form-signin" method="post">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-success">
                {% for message in messages %}
                  <div>{{ message }}</div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            {% if errors %}
            <div class="alert alert-error">
                {%- for error in errors -%}
                  <div>{{ error|safe }}</div>
                {%- endfor -%}
            </div>
            {% endif %}

            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    <div class="control-group">
                        <div class="controls">
                            {{ field(value=field.value, placeholder=field.label.text, required="required", class="input-block-level") }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success btn-large">{{ _('Sign in') }}</button>
                </div>
            </div>
        </form>
        </div>
    {% endblock %}
    </div><!--/.fluid-container-->
  </body>
</html>