{% block sidebar %}
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      {% if works %}
      <li class="nav-header">Сочинения</li>
      {% for work in works %}
      <li{% if entity=='work' and entity_id==work.id %} class="active"{% endif %}><a href="{{ url_for('work', id=work.id) }}">{{ work.number }}</a></li>
      {% endfor %}
      {% endif %}
      {% if persons %}
      <li class="nav-header">Авторы</li>
      {% for person in persons %}
      <li{% if entity=='person' and entity_id==person.id %} class="active"{% endif %}><a href="{{ url_for('person', id=person.id) }}">{{ person.name }}</a></li>
      {% endfor %}
      {% endif %}
      {% if persons %}
      <li class="nav-header">Титулы</li>
      {% for title in titles %}
      <li{% if entity=='title' and entity_id==title.id %} class="active"{% endif %}><a href="{{ url_for('title', id=title.id) }}">{{ title.name }}</a></li>
      {% endfor %}
      {% endif %}
      {% if actions %}
      <li class="nav-header">Действия</li>
      {% for action in actions %}
      <li{% if entity=='action' and entity_id==action.id %} class="active"{% endif %}><a href="{{ url_for('action', id=action.id) }}">{{ action.name }}</a></li>
      {% endfor %}
      {% endif %}
      {% if places %}
      <li class="nav-header">Местоположения</li>
      {% for place in places %}
      <li{% if entity=='place' and entity_id==place.id %} class="active"{% endif %}><a href="{{ url_for('place', id=place.id) }}">{{ place.name }}</a></li>
      {% endfor %}
      {% endif %}
      {% if times %}
      <li class="nav-header">Время</li>
      {% for time in times %}
      <li{% if entity=='time' and entity_id==time.id %} class="active"{% endif %}><a href="{{ url_for('time', id=time.id) }}">{{ time.name }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{% endblock %}