<div class="masthead">
    <h4><a href="/">Индекс Золотого Ганджура</a></h4>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/">О проекте</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Библиография</a></li>
            <li><a href="#">Условные обозначения</a></li>
            <li><a href="#">Инструкция</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
</div>