{% extends 'base.html' %}
{% block content %}
    <div class="hero-unit" style="height:200px;background: #EEEEEE url('../static/img/top.jpg') no-repeat center;"></div>
    {% if session.lang == 'en_GB' %}
        {% set suffix='_en' %}
    {% elif session.lang == 'ru_RU' %}
        {% set suffix='' %}
    {% elif request.accept_languages.best_match(['ru_RU', 'en_GB']) != 'ru_RU' %}
        {% set suffix='_en' %}
    {% else %}
        {% set suffix='' %}
    {% endif %}
    <!--<legend><h3>{{ article|attr('title'+suffix) }}</h3></legend>-->
    <p>{{ article|attr('text'+suffix)|safe }}</p>
{% endblock %}
