{% extends 'base.html' %}
{% block title %} > {{ _('Personal Names') }} > {{ person.name }}{% endblock %}
{% block content %}
    <legend><h3>{{ person.name }}</h3></legend>
    <table class="table table-striped table-condensed">
        {% if person_titles %}
            <tr class="warning">
                <th colspan="2"><h4>{{ _('Titles') }}</h4></th>
            </tr>
            {% for item in person_titles %}
            <tr>
                <td class="span4"><a href="{{ url_for('title', id=item['title'].id) }}" title="{{ item['title'].name }}">{{ item['title'].name }}</a></td>
                <td>
                    {% if item['works'] %}
                    {% for person_work in item['works'] %}
                    <a href="{{ url_for('work', id=person_work.work.id) }}" class="label label-inverse" title="{{ person_work.work.name }}">{{ person_work.work.number }}</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if person_actions %}
            <tr class="warning">
                <th colspan="2"><h4>{{ _('Actions') }}</h4></th>
            </tr>
            {% for item in person_actions %}
            <tr>
                <td><a href="{{ url_for('action', id=item['action'].id) }}" title="{{ item['action'].name }}">{{ item['action'].name }}</a></td>
                <td>
                    {% if item['works'] %}
                    {% for person_work in item['works'] %}
                    <a href="{{ url_for('work', id=person_work.work.id) }}" class="label label-inverse" title="{{ person_work.work.name }}">{{ person_work.work.number }}</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if person_times %}
            <tr class="warning">
                <th colspan="2"><h4>{{ _('Dates') }}</h4></th>
            </tr>
            {% for item in person_times %}
            <tr>
                <td><a href="{{ url_for('time', id=item['time'].id) }}" title="{{ item['time'].name }}">{{ item['time'].name }}</a></td>
                <td>
                    {% if item['works'] %}
                    {% for person_work in item['works'] %}
                    <a href="{{ url_for('work', id=person_work.work.id) }}" class="label label-inverse" title="{{ person_work.work.name }}">{{ person_work.work.number }}</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if person_places %}
            <tr class="warning">
                <th colspan="2"><h4>{{ _('Toponyms') }}</h4></th>
            </tr>
            {% for item in person_places %}
            <tr>
                <td><a href="{{ url_for('place', id=item['place'].id) }}" title="{{ item['place'].name }}">{{ item['place'].name }}</a></td>
                <td>
                    {% if item['works'] %}
                    {% for person_work in item['works'] %}
                    <a href="{{ url_for('work', id=person_work.work.id) }}" class="label label-inverse" title="{{ person_work.work.name }}">{{ person_work.work.number }}</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
        {% if connections or backward_connections %}
            <hr>
            <h4>{{ _('Connections') }}</h4>
            <tr class="warning">
                <td colspan="2">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>{{ _('Actions') }}</th>
                                <th>{{ _('Personal Name') }}</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in connections %}
                            <tr>
                                <td>
                                    {% if item.actions %}
                                    {% for action in item.actions %}
                                    <a href="{{ url_for('action', id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a>
                                    {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td><a href="{{ url_for('person', id=item.person.id) }}" title="{{ item.person.name }}">{{ item.person.name }}</a></td>
                                <td><a href="{{ url_for('work', id=item.work_person.work.id) }}" class="label label-inverse" title="{{ item.work_person.work.name }}">{{ item.work_person.work.number }}</a></td>
                            </tr>
                        {% endfor %}
                        {% for item in backward_connections %}
                            <tr>
                                <td>
                                    {% if item.actions %}
                                    {% for action in item.actions %}
                                    <a href="{{ url_for('action', id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a>
                                    {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td><a href="{{ url_for('person', id=item.work_person.person.id) }}" title="{{ item.work_person.person.name }}">{{ item.work_person.person.name }}</a></td>
                                <td><a href="{{ url_for('work', id=item.work_person.work.id) }}" class="label label-inverse" title="{{ item.work_person.work.name }}">{{ item.work_person.work.number }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        {% endif %}
{% endblock %}