{% extends 'base.html' %}
{% block title %} > {{ _('Titles or Opening Lines') }} > {{ data.number }}{% endblock %}
{% block content %}
    <legend><h3>{{ data.number }}</h3></legend>
    <div id="work_data">
        <h4>{{ data.name }}</h4>
        {% if data.colophon %}<p>{{ data.colophon }}</p>{% endif %}
        {% if data.location %}<p>{{ data.location }}</p>{% endif %}
    </div>
    {% if concordance %}{% endif %}
    <p>
    {% for item in concordance %}
        <a href="{{ url_for('work', id=item.id) }}" class="label label-inverse" title="{{ item.name }}">{{ item.number }}</a>
    {% endfor %}
    </p>
    {% if data.concordance and not concordance %}<p>{{ data.concordance }}</p>{% endif %}
{% endblock %}
{% block added_js %}
<script type="text/javascript">
var links = {{ links|tojson|safe }};
RegExp.escape = function(str) {
    return (str+'').replace(/[>-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
}
$(document).ready(function(){
    var content = $('#work_data').html();
    for (var i in links){
        content = _parse_link(links[i], content);
    }
    $('#work_data').html(content);
});
function _parse_link(link, text){
    var escaped_name = RegExp.escape(link.name);
    var name = new RegExp('[\\s\\-\\W]' + escaped_name + '(?!\\w)', 'gi');
    var res;
    while ((res = name.exec(text)) != null){
        if (res && name.lastIndex > -1){
            var index = name.lastIndex;
            if (_check_link(index, text)){
                text = _replace(link, index, text);
            }
        }
	}
    return text;
}
function _replace(link, index, text){
    var start = index - link.name.length;
    text = text.substring(0, start) + '<a href="' + link.url + '">' + link.name + '</a>' + text.substring(index);
    return text;
}
function _check_link(index, text){
    var open_a = text.lastIndexOf('<a', index-1);
    var close_a = text.lastIndexOf('</a>', index-1);
    if (open_a == -1 || open_a < close_a){
        return true;
    } else {
        return false;
    }
}
</script>
{% endblock %}